body{
  background-image:url(bl7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
}
.container{
  width: 632px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.539);
  padding: 50px ;
}
 .center{
  width: 200px;
  margin: 0 232px;
}
h1{
  text-align: center;
  color: rgb(9, 239, 9);
  margin-top: 0;
}
.buttons{
  background-color: rgb(14, 248, 14);
  padding: 7px;
  text-align: center;
}
.monopattino{
  color: white;
}
.monopattino h2{
  display: inline-block;
  margin-bottom: 3px;
}
.line1{
  height: 25px;
  width: 40%;
  background-color: rgb(224, 156, 30);
  border-radius: 3px;
}
.line2{
  height: 25px;
  width: 60%;
  background-color: rgb(25, 179, 25);
  border-radius: 3px;
}
.line3{
  height: 25px;
  width: 20%;
  background-color: rgb(118, 41, 41);
  border-radius: 3px;
}
